// sass --watch style.scss:style.css
:root {
  --bg: #eeefef;
  --white: #ffffff;
  --blue: #6486b8;
  --lightblue: #9fc6ff; 
  --black: rgba(30, 30, 30, 0.8);
  font-size: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Mukta:700');

$bg: var(--bg);
$white: #fff;
$black: var(--lightblue);

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header_top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

.header_top a{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 2px; 
  color: var(--blue);
  text-decoration: none;
}
.iconig {
  height: 16px;
  width: 16px;
  object-fit: cover;
}
.moldura
{
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 1450px;
  height: 660px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40px;
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    hsla(216, 37%, 55%, 1) 6%,
    hsla(202, 78%, 82%, 1) 67%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(216, 37%, 55%, 1) 6%,
    hsla(202, 78%, 82%, 1) 67%
  );

  background: -webkit-linear-gradient(
    280deg,
    hsla(216, 37%, 55%, 1) 6%,
    hsla(202, 78%, 82%, 1) 67%
  );
}

.header_main{
  width: 90%; 
  display: flex;
  justify-content: space-between; 
  margin: 20px 50px;
  align-items: center;
  padding: 2rem 0;
}
.navbar a {
  position: relative;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--white);
  padding: 4px 20px;
  letter-spacing: 0.5px;
  box-shadow: 0 2 rgba(255, 255, 255, 1);
}

.navbar a:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.navbar a:hover {
  color: #ffffff;
}
.navbar a:hover:after {
  width: 100%;
}

.hero{
  width: 90%; 
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

.hero h1{
  width: 500px;
  color: #ffffff;
  font-weight: bold;
  font-size: 64px;
  line-height: 58px;
}
.hero-img {
  position: absolute;
  bottom: 0;      
  right: 100px;        
  width: 570px;  
  height: auto;
}
.container-numclient {
width: 312px;
height: 158px;
right: 90px;
bottom: 48px;
position: absolute;
box-shadow: 3px 4px 9.2px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(5px);
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.1);
border: 2px solid rgba(255, 255, 255, 0.2);
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
}

.container-numclient h2{
  color: #ffffff;
  position: absolute;
  top: 5px;
  font-size: 55px;
  font-weight: 700;
}
.container-numclient h3{
  position: absolute;
  color: #ffffff;
  width: 200px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  bottom: 20px;
}

.stars{
  margin-top: 110px;
}
.stars img{
  width: 80px;
}
.btn-fale button {
  background-color: #ffffff;
  color: var(--lightblue);
  position: absolute;
  bottom: 48px;
  font-weight: 500;
  height: 40px;
  width: 300px;
  border: none;
  justify-content: center;
  font-size: 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  gap: 5px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-fale button:hover {
  border: 2px double #9fc6ff;
  
}

.btn-fale img {
  width: 50px;
}
.ourservices{
  display: flex;
  flex-direction: column;
}

.ourservices-header{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 60px;
  color: var(--black);
  font-size: 20px;
}

.ourservices-header h4{
  color: rgba(30, 30, 30, 0.44);
  font-weight: 500;
}

.ourservices-header h1{
  font-weight: 600;
  line-height: 30px;
}

.ourservices-main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 55px 70px ;
}

.services{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 320px;
}

.services img{
width: 90px;
}

.services h4{
  color: var(--black);
  margin-top: 15px;
  font-weight: 500;
  font-size: 23px;
}

.services p{
  color: var(--black);
  font-weight: 300;
  font-size: 16px;
}

.btn-learn{
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    transform: scale(1.5);
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;

    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: $white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}

.line{
  margin-top: 70px;
  position: relative;
  left: 10%;
  content: "";
  width: 80%;
  height: 0px;
  border: 2px solid var(--lightblue);
  border-radius: 8px;
}

.differences{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  color: var(--black);
  font-size: 20px;
}
.differences-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.differences h4{
  color: rgba(30, 30, 30, 0.44);
  font-weight: 500;
}

.differences h1{
  font-weight: 600;
  line-height: 30px;
}

.differences p {
  font-size: 16px;
  margin-top: 15px;
  width: 550px;
}

.differences-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 40px;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  min-width: 260px;
}

.column-left{
display: flex;
  flex-direction: column;
  position: relative;
align-items: end;
  text-align: right;
}

.item {
  display: flex;
  gap: 15px;
  text-align: left;
}

.item h3 {
  font-size: 1.1rem;
  color: #333;
}

.item p {
  color: #666;
  font-size: 0.95rem;
}

.icon {
  width: 40px;
  color: var(--lightblue);
}

.image-differences {
  flex: 1;  
  display: flex;
  justify-content: center;
  position: relative;
}

.image-differences img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 12px 12px 0 var(--lightblue);
}


html,
body {
  background: rgb(255, 255, 255);
  min-height: 1500px;
}
